@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

meta{
  content: width=device-width, initial-scale=1.0;
}
body{
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 1px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
.MainContainer{
  height: 100vh;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}


.MainContainer .mainscreen{
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: block;
  position: absolute;
  background-color: black;
  color: white;
  
}

.MainContainer .mainscreen #heading{
  position: absolute;
  top: 5%;
  left: 5%;
  letter-spacing :5px;
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Great Vibes', cursive;
}
 .MainContainer .right1{
  position: absolute;
  top: 15%;
 right: 5%;
  float: inline-end;
  font-size: 4rem;
  font-weight: 900;
}

.MainContainer .container{
  height: 100vh;
  width: 100%;
  position: relative;
 

}


.topnav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  z-index: 3;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 45px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.topnav .icon {
 display: none;
}

.topnav a #curse{
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Great Vibes', cursive;
}


.container #model-container{
height:100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
    overflow:hidden;
}

.container #model-container .line{
position: absolute;
    top: 15%;
    left: 5%;
color: white;
line-height: 2;
z-index: 2;
}

.container #model-container .line h1{
font-size: 3.5rem;
font-weight: 800;
}

.container #model-container .line p{
font-size: 1rem;
font-weight: 200;

}
.container #model-container .line button{
box-sizing: border-box;
border-radius: 2rem;
text-align: center;
font-size: 1rem;
font-weight: 400;
height: 40px;
width: 160px;
cursor: pointer;
border: 2px solid rgb(243, 149, 42);
font-weight: 600;
background-color: black;
color: white;

}
.container #model-container .line button:hover{
  background-color: rgb(243, 149, 42);
  color: black;
  border: 3px solid black;
  
}
.container #model-container .line img{
margin: 1rem ;
height: 30px;
width:30px;
cursor: pointer;
filter: invert(100%);
}
.container #model-container .line img:hover{
  filter: invert(50%);
}


.MainContainer .main{
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background: url(Background1.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 .main .left{
height: 100%;
width: 45%;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
line-height: 2;
}

.main .left h1{
font-size: 4rem;
font-weight: 800;
}
 .main .left h2{
font-size: 3rem;
font-weight: 700;
}
 .main .left h4{
font-size: 2rem;
font-weight: 600;
}
 .main .left p{
font-size: 1rem;
font-weight: 400;
}
.main .left button{
box-sizing: border-box;
border-radius: 2rem;
text-align: center;
font-size: 1rem;
font-weight: 400;
height: 40px;
width: 160px;
cursor: pointer;
border: 2px solid rgb(243, 149, 42);
font-weight: 600;
background-color: black;
color: white;
}

.main .left button:hover{
  background-color: rgb(243, 149, 42);
  color: black;
  border: 3px solid black;
}
 .main #right{
height: 100vh;
width: 55%;
align-items: center;

}

.main #right img{
 height: 100%;
 width: 100%;
 object-fit: contain;
object-position: center;
}

fade{
animation-name:fade;
animation-duration:2s;
}

@keyframes fade {
from {
opacity:0.5;
}
to { opacity:1; }
}

.MainContainer .about{
height: 100vh;
width: 100%;
background: url(bike4.png);
background-position: center;
background-repeat: no-repeat;
background-color: black;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
line-height: 1.5;
}
.about h1{
  text-align: center;
font-size: 4rem;
font-weight: 800;

}
 .about h3{
  text-align: center;
font-size: 3rem;
font-weight: 600;
}
.about p{
  text-align: center;
font-size: 2rem;
font-weight: 400;
}
 .about h4{
  text-align: center;
font-size: 2rem;
font-weight: 400;
cursor: pointer;
}



.MainContainer  .contact {
height: 100vh;
width: 100%;
background-color: black;
color: white;

}
.contact .middle{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
line-height: 1.2;
background: url(bike3.png)  no-repeat;
background-size: cover;
background-position: center;
} 
.contact .middle{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
color: white;
}

 .contact .middle h1{
  font-size: 3rem;
  font-weight: 800;
}
 .contact .middle h2{
  font-size: 2rem;
  font-weight: 700;
}
 .contact .middle p{
  font-size: 1.5rem;
  font-weight: 600;
}
 .contact .middle #svgs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    
}

 .contact .middle #svgs svg{
height: 20px;
width: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 720px) {
  .container #model-container .line{
    line-height: 1.2;
  }
  .container #model-container .line h1{
  font-size: 2rem;
font-weight: 700;
  }
  .container #model-container .line p{
    font-size: 1;
    font-weight: 300;
  }
  .container #model-container .line button{
    width: 100px;
  }

 .main{
  min-height: 100vh;
flex-direction: column;
}

 .main .left{
  height: 40%;
  width: 100%;
  line-height: 1.2;
}
 .main .left h1{
  font-size: 2.5rem;

}
.main .left p{
  font-size: 1.5rem;
}
 .main .right{
  width: 100%;
  height: 60%;
}
 .main #right img{
  height: 27%;
  width: 100%;
  
 
}

 .about{
  line-height: 1.2;
}
 .about h1{
  font-size: 3rem;
  font-weight: 800;
  
  }
 .about h3{
  font-size: 2rem;
  font-weight: 600;
  }
   .about p{
  font-size: 1.5rem;
  font-weight: 400;
  }
  .about h4{
  font-size: 2rem;
  font-weight: 400;
  }

  .contact .middle{
    line-height: 1;
  }
   .contact .middle h1{
    font-size: 2.5rem;
    font-weight: 800;
  }
   .contact .middle h1{
    font-size: 1.8rem;
    font-weight: 700;
  }
   .contact .middle p{
    font-size: 1.5rem;
    font-weight: 600;
  }
}



@media (max-width: 500px){
   .main .left h1{
    font-size: 2rem;
  }
  .main .left h1{
    font-size: 1rem;
  }
.main .left p{
    font-size: 1rem;
  }

  .about h1{
    font-size: 2rem;
    font-weight: 800;
    
    }
  .about h3{
    font-size: 1.5rem;
    font-weight: 600;
    }
    .about p{
    font-size: 1.2rem;
    font-weight: 400;
    }
   .about h4{
    font-size: 2rem;
    font-weight: 400;
    }
    .contact .middle h1{
      font-size: 2rem;
      font-weight: 800;
    }
    .contact .middle h1{
      font-size: 1.5rem;
      font-weight: 800;
    }
    .contact .middle p{
      font-size: 1rem;
      font-weight: 600;
    }
}

@media screen and (max-width: 720px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
  
    float: right;
    display: block;
  }
}

@media screen and (max-width: 720px) {

  .topnav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
